body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcfcfc;
  background-color: #25252a;
  height: 100vh;
}

main {
  background-color: #191919;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  height: 640px;
  min-width: 360px;
}
main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272635;
  font-size: 28px;
  cursor: pointer;
}
main .display {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  grid-column: 1/span 4;
  padding: 16px;
  background-color: #191919;
  cursor: text;
}
main .operation {
  background-color: #322633;
}
main .operation:active {
  background-color: #ae50b6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
main .number:active {
  background-color: #ae50b6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
main #zero {
  grid-column: 1/span 2;
}
main #equals {
  grid-row: span 2;
  background-color: #ae50b6;
}