body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcfcfc;
  background-color: #25252a;
  height: 100vh;
}

main {
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Ubuntu, sans-serif;
}
main .display-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 10rem;
  padding: 2rem;
  font-size: 2.5rem;
}
main .display-container .operation {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
main .grid-container {
  display: grid;
  gap: 0.5rem;
  grid-template-areas: "C B d m" "7 8 9 r" "4 5 6 s" "1 2 3 x" "z z p x";
  grid-template-columns: repeat(4, minmax(3rem, 6rem));
  grid-template-rows: repeat(5, minmax(3rem, 6rem));
}
main .grid-container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d2d34;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
main .grid-container .button:active {
  background-color: #af3eb9;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
main .grid-container .operation {
  background-color: #3f1f40;
}
main .grid-container #zero {
  grid-area: z;
}
main .grid-container #equals {
  background-color: #af3eb9;
  grid-area: x;
}
main .grid-container #equals:active {
  background-color: #191919;
}