$main-color: #191919;
$primary-color: #2d2d34;
$secondary-color: #3f1f40;
$contrast-color: #af3eb9;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcfcfc;
    background-color: #25252a;
    height: 100vh;
}

main {
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: Ubuntu, sans-serif;

    & .display-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 10rem;
    }

    & .grid-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, minmax(3rem, 8rem));
    }
}
